.img-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  display: inline-block;
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 173, 181, 0.4);
  border-radius: 10px;
}

.project-img {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  display: block;
}

.project-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
  gap: 50px;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.project-container:hover {
  background-color: var(--secondary-color);
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.project-text-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.project-title {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
}

.project-container:hover .project-title {
  color: var(--highlight-color);
  transition: all 0.5s ease;
}

.project-text {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: normal;
  margin-top: 1rem;
}

.technologies-container {
  color: var(--text-color);
  display: flex;
  margin-top: 1rem;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.technologies-container li {
  padding-left: 15px;
  position: relative;
}

.technologies-container li:before {
  content: "•";
  color: var(--highlight-color);
  position: absolute;
  font-size: 2rem;
  line-height: 13px;
  top: 0;
  left: 0;
}

.technology {
  font-weight: lighter;
  font-size: 0.9rem;
}

.project-icon {
  display: flex;
  align-items: center;
  width: 4rem;
  gap: 5px;
  text-decoration: none;
  color: var(--text-color);
  margin-top: 1rem;
  text-align: start;
}

.project-icon:hover {
  color: var(--highlight-color);
  transition: all 0.2s ease-out;
}
.projectLinkText {
  font-size: 0.9rem;
}
