.background {
  background-color: var(--primary-color);
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.intro {
  margin-right: auto;
}

.intro h1 {
  color: var(--text-color);
  font-weight: 100;
}

.name {
  color: var(--highlight-color);
}
