.background {
  background-color: var(--primary-color);
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 1280px;
}

.intro {
  margin-right: auto;
}

.intro h1 {
  color: var(--text-color);
  font-weight: 500;
}

.name {
  color: var(--highlight-color);
}
