.contact-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 2rem;
  align-items: center;
}

.contact-icon-container {
  color: #fff;
  font-size: 4rem;
}

.contact-icon {
  font-size: 3rem;
  color: #fff;
}

.contact-me {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
}

.contact-me:hover {
  color: #00adb5;
  transition: 250ms;
}

.contact-text {
  margin-bottom: 1.2rem;
}
.send-button {
  background-color: #00adb5;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 1.2rem;
}

.send-button:hover {
  background-color: #07d4df;
  transition: 250ms;
}
