* {
  font-family: "Karla", sans-serif;
}
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  /* text-align: center; */
}

.modal-close-button {
  background: unset;
  border: unset;
  color: #fff;
  font-size: 1.2rem;

  position: relative;

  top: 4px;
  left: 50px;
  cursor: pointer;
}

.modal-header {
  background-color: #242222;
  color: #fff;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #363535;
  color: #fff;
}

.modal-img {
  height: 150px;
  width: 300px;
}

.content-container {
  padding: 30px 30px 0 30px;
}

.modal-description {
  width: 300px;
}

.bullets-container {
  display: flex;
  flex-direction: row;
}

.bullets {
  list-style: none;
  margin-top: 1rem;
}

.bullets li::before {
  content: "\2022";
  color: #00d4bd;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.modal-footer {
  background-color: #242222;
  color: #fff;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
