.rightButtons-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 0 40px;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.email-text {
  writing-mode: vertical-rl;
  text-decoration: none;
  font-size: 1rem;
  color: #eeee;
  letter-spacing: 0.1rem;
}

.bottom-line-right {
  border: 1px solid #eeee;
  width: 1px;
  height: 50px;
}
