* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* display: grid;
  grid-template-columns: 0.25fr 1fr; */
  display: flex;

  font-family: "Karla", sans-serif;
}

.side-bar {
  flex: 0.25;
}

.right {
  flex: 1;
}
