* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Karla", sans-serif;
}

:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --text-color: #eee;
  --highlight-color: #00adb5;
}

#home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-items: center;
  font-size: 1.6rem;
}

#portfolio,
#about,
#contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 960px) {
  #home {
    font-size: 1rem;
  }
}
